div.calories
	h4 Calories
	span.qty= total.calories.total
div.nutrients
	div.protein
		h4 Protein
		span.qty= total.calories.protein
		span.percentage= total.percentage.protein
	div.carbohydrate
		h4 Carbs
		span.qty= total.calories.carbohydrate
		span.percentage= total.percentage.carbohydrate
	div.fat
		h4 Fat
		span.qty= total.calories.fat
		span.percentage= total.percentage.fat
