table
	tr.calories
		th Calories
		td= total.calories.total
		td
	tr.protein
		th Protein
		td= total.calories.protein
		td= total.percentage.protein
	tr.carbohydrate
		th Carbs
		td= total.calories.carbohydrate
		td= total.percentage.carbohydrate
	tr.fat
		th Fat
		td= total.calories.fat
		td= total.percentage.fat
